<div class="container">
  <div class="content">
    <nav>
      <mat-form-field>
        <mat-label>Select game type</mat-label>
        <mat-select [(value)]="gameType" (selectionChange)="changeGameType($event)">
          @for (item of dropdownData; track item) {
            <mat-option [value]="gameTypes[item.type]">{{item.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="danger" (click)="resetGame()">
        <mat-icon>restart_alt</mat-icon>
        Reset game
      </button>
    </nav>
    <div class="cards">
      <app-card [playerNumber]="1" [gameType]="gameType" [cardData]="cardData()[0]"></app-card>
      <app-card [playerNumber]="2" [gameType]="gameType" [cardData]="cardData()[1]"></app-card>
    </div>
    <div class="play-button">
      <button mat-flat-button (click)="playTheGame()">
        <mat-icon>play_arrow</mat-icon>
        Play
      </button>
    </div>
  </div>
</div> 