.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .content {
        border: 1px solid #64B5F6;
        border-radius: 20px;
        background-color: #E3F2FD;
        width: 50%;
        height: 800px;
        color: #0D47A1;
        padding: 20px;
        background-image: url(../assets/free-star-wars-wallpaper_102634769_273.jpg);
        background-color: rgba(255,255,255,0.7);
        background-blend-mode: lighten;
        background-repeat:no-repeat;
        background-position: center center;
    }
}